{% extends 'core/baseSesion.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}


<!-- Contenido -->
<div class="container py-5">
  <div class="row">
    <!-- Lateral izq -->
    <div class="col-sm-3 col-izq ">
      <div class="row perfil">
        <div class="col-sm-12 bg-white p-5 rounded-4 text-dark shadow">
          <h3>Mi Cuenta</h3>
          <h5>Hola, Ignacio</h5>
          <div class="list-group my-3">
            <a href="{% url 'cuenta' %}" class="list-group-item list-group-item-action btn btn-verde" aria-current="true">
              Mis Compras
            </a>
            <a href="{% url 'suscripcionAdmin' %}" class="list-group-item list-group-item-action">Mi Suscripción</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
      </div>
    </div>

    <!-- Fin Lateral izq -->

    <!-- Lateral der -->
    <div class="col-sm-9">
      <h5 class="">Pedido N°102</h5>
      <div class="card mb-3 my-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'core/img/collarblanco.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Collar Martingale WhiteOwl Perro</p>
              <p class="card-text fw-bold">$30.250</p>
              <p class="card-text"><small class="text-body-secondary">Fecha: 11/03/2023</small></p>
              <p class="card-text"><small class="text-body-secondary">Cantidad: 1</small></p>
            </div>
          </div>
        </div>
      </div>
      <h5 class="">Envio a domicilio:</h5>
      <p class="fs-6">Avenida Las Nieves Oriente, 2196, Puente Alto. Metropolitana De Santiago.</p>
      <div class="row">
        <div class="col-3">
          <div class="card mb-4 rounded-3 shadow-sm border-success">
            <div class="card-header py-3 border-success bg-success">
              <h4 class="my-0 fw-normal fs-6 text-white">Solicitud Recibida</h4>
            </div>
            <div class="card-body">
              <p>Hemos recibido tu solicitud de compra</p>
              <p>09/04/2023 09:08:47 </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card mb-4 rounded-3 shadow-sm border-success">
            <div class="card-header py-3 border-success bg-success">
              <h4 class="my-0 fw-normal fs-6 text-white">En Preparación</h4>
            </div>
            <div class="card-body">
              <p>Tu compra ha sido confirmada</p>
              <p>09/04/2023 09:15:50 </p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3 ">
              <h4 class="my-0 fw-normal fs-6">En Camino</h4>
            </div>
            <div class="card-body">
              <p>Tu pedido va en camino a su destino</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="card mb-4 rounded-3 shadow-sm ">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal fs-6">Entregado</h4>
            </div>
            <div class="card-body">
              <p>Tu compra fue entregada</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Fin Lateral der -->
    </div>
  </div>
  <!-- Fin Contenido -->

  {% endblock %}
  <!-- FIN CONTENIDO -->
  {% block js %}
  
  {% endblock %}