{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}

<!-- Contenido -->
<div class="container py-5">
  <div class="row">
    <!-- Lateral izq -->
    <div class="col-sm-3 col-izq ">
      <div class="row perfil">
        <div class="col-sm-12 bg-white p-5 rounded-4 text-dark shadow">
          <h3>Mi Cuenta</h3>
          <h5>Hola, Ignacio</h5>
          <div class="list-group my-3">
            <a href="{% url 'cuenta' %}" class="list-group-item list-group-item-action btn btn-verde"
              aria-current="true">
              Mis Compras
            </a>
            <a href="{% url 'miSuscripcion' %}" class="list-group-item list-group-item-action">Mi Suscripción</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
      </div>
    </div>

    <!-- Fin Lateral izq -->

    <!-- Lateral der -->
    <div class="col-sm-9">
      <h5 class="">Mis Compras</h5>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'core/img/collarblanco.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pedido N°102</h5>
              <p class="card-text">Estado: Pendiente de envio.</p>
              <p class="card-text"><small class="text-body-secondary">Fecha: 09/04/2023</small></p>
              <a href="{% url 'compra' %}" class="btn btn-verde btn-sm">Ver Más</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{% static 'core/img/collarnegrocat.png' %}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pedido N°53</h5>
              <p class="card-text">Estado: Pedido entregado.</p>
              <p class="card-text"><small class="text-body-secondary">Fecha: 11/03/2023</small></p>
              <a href="compra2.html" class="btn btn-verde btn-sm">Ver Más</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Fin Lateral der -->
    </div>
  </div>
  <!-- Fin Contenido -->

  {% endblock %}
  <!-- FIN CONTENIDO -->
  {% block js %}
  
  {% endblock %}