{% extends 'core/base.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}

<!-- Contenido -->
<div class="container">
  <a href="{% url 'miSuscripcion' %}" class="btn btn-verde my-3">Volver</a>
  <div class="p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Suscripción</h1>
    <p class="fs-5 text-muted">Elige la donación que mas te acomode y ya estarás ayudando a los animales dentro de la
      fundación sin fines de lucro. Además obtendrás un 5% de descuento en el total de tu compra!</p>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">{{basica.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{basica.precio}}<small class="text-muted fw-light">/mes</small></h1>
          <a onclick="cambiarSuscripcion({{ basica.id }})" type="button" class="w-100 btn btn-lg btn-outline-success mt-4">Elegir</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-info">
        <div class="card-header py-3 bg-info text-white border-info">
          <h4 class="my-0 fw-normal">{{intermedia.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{intermedia.precio}}<small class="text-muted fw-light">/mes</small></h1>
          <a onclick="cambiarSuscripcion({{ intermedia.id }})" type="button" class="w-100 btn btn-lg btn-info text-white mt-4">Elegir</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-white bg-primary border-primary">
          <h4 class="my-0 fw-normal">{{alta.nombre}}</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">${{alta.precio}}<small class="text-muted fw-light">/mes</small></h1>
          <a onclick="cambiarSuscripcion({{ alta.id }})" type="button" class="w-100 btn btn-lg btn-primary mt-4">Elegir</a>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Fin Contenido-->


{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeSuscripcion.js' %}"></script>
<script src="{% static 'core/js/cambiarSuscripcion.js' %}"></script>
{% endblock %}