{% extends 'core/baseSesion.html' %}
{% load static%}

{% block css %}
  
{% endblock %}

<!-- INICIO CONTENIDO-->
{% block contenido %}
<!-- Contenido -->
<div class="p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Tienda</h1>
  <p class="fs-5 text-muted">Encuentra todos los accesesorios que buscas para tus mascotas!</p>
</div>

<div class="album py-1 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/collarblanco.jpg'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Collar Martingale WhiteOwl Perro</p>
            <p class="card-text fw-bold">$30.250</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'productoSesion' %}" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 6</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/arnesverdedog.jpg'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Arnes H Hawkins Stranger Things Perro</p>
            <p class="card-text fw-bold">$12.900</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 2</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/collarnegrocat.png'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Gotham Collar Gato</p>
            <p class="card-text fw-bold">$13.100</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 4</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/CorreaLedGato.jpg'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Arnés y Correa Pink Led Gato</p>
            <p class="card-text fw-bold">$19.500</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 4</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/Zeedog___Atlanta_Collar.png'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Atlanta Collar Perro</p>
            <p class="card-text fw-bold">$11.800</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 4</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/blocks 2_h_harness.jpg'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Blocks H-Harness Perro</p>
            <p class="card-text fw-bold">$13.900</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 2</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'core/img/atlanta 2_zeecat_leashandharness.jpg'%}" class="responsive" width="100%" height="225">
          <div class="card-body">
            <p class="card-text">Atlanta Harness + Leash Set Gato</p>
            <p class="card-text fw-bold">$15.900</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="#" class="btn btn-verde">Ver Más</a>
              </div>
              <small class="text-muted">Stock: 1</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Fin Contenido-->

{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
  
{% endblock %}